@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.swiper-wrapper {
  width: 100%;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
  .swiper-pagination-bullet {
  background: #4f46e5;
  }

  .w-275 {
    width: 275px;
  }
  .h-275 {
    height: 275px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container:hover .overlay {
    opacity: 1;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 50;
  }
  .modal.active {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-content {
    position: relative;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
  }
  .modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .modal-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  .prev-button {
    left: 0;
  }
  .next-button {
    right: 0;
  }
  .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .modal-title {
    text-align: center;
  }
  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
  }
      /* New CSS for centering images */
      .image-gallery {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }
      .image-container {
        scroll-snap-align: center;
        position: relative;
        margin-right: 12px; /* Adjust spacing between images */
      }
      .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-thumb {
        display: flex;
        justify-content: center;
        gap: 4px; /* Jarak antara thumbnail */
        margin-top: 8px; /* Atur jarak antara carousel dan thumbnail */
      }
      .swiper-thumb img {
        width: 100px; /* Ukuran thumbnail */
        height: 60px; /* Ukuran thumbnail */
        object-fit: cover;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border-color 0.3s ease;
      }
      .swiper-thumb img:hover {
        border-color: #4A90E2; /* Warna border pada hover */
      }
      .background-div {
        background-image: url('img/video_bg.jpg');
        background-size: cover;
        background-position: center;
        height: 400px;
        position: relative;
      }
      .overlays {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* 50% brightness overlay */
        z-index: 1;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 2;
      }
      .content h1 {
        margin-bottom: 20px;
      }
      .video-container {
        position: absolute;
        bottom: -25%; /* 50% keluar dari div background */
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 100%;
        max-width: 800px; /* Adjust the max width as needed */
      }
      .video-container iframe {
        width: 100%;
        height: 200px; /* Adjust the height as needed */
      }
      #map {
        height: 400px;
        width: 100%;
      }
      .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: rgba(255, 255, 255, 0.8);
      }
      .custom-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .custom-popup img {
        width: 50px;
        height: 50px;
      }
      .custom-popup button {
        margin-top: 10px;
        background-color: #4A90E2;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }